.form-wrapper{
  display: flex;
}
.list-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .my_class1{
    color: tomato;
    text-decoration: line-through;
    font-style: italic;
  }
  .my_class2{
    color: black;
  }
  .work{
    background-color: blue;
  }
  .important{
    background-color: red;
  }
  .default{
    background-color: grey;
  }
}


